<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--    https://getbootstrap.com/docs/4.0/components/alerts/-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>회원가입 하기</title>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            document.getElementById("id-register").value = [[${username}]];
            document.getElementById("pw-register").value = [[${password}]];
            document.getElementById("pw-register-check").value = [[${passwordChecker}]];
            loginButton();
        })

        function loginButton() {
            document.getElementById('login-id-submit').click();
        }
    </script>
</head>
<body>
<div class="wrapper">
    <div class="card border-success mb-3 input-box" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success main-title"><h4>회원가입 페이지</h4></div>
    </div>
    <div class="card border-success mb-3 input-box" style="max-width: 18rem;">

        <form class="form-class" action="user/signup2" method="post">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><b>&nbspID&nbsp</b></span>
                </div>
                <input type="text" name="username" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       placeholder="(ID를 입력해주세요)" id="id-register">
                <div class="center-alignment">
                    <span class="valid_font" th:text="${valid_username}"></span>
                </div>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><b>PW</b></span>
                </div>
                <input type="password" name="password" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       placeholder="(PW를 입력해주세요)" id="pw-register">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><b>PW</b></span>
                </div>
                <input type="password" name="passwordChecker" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       placeholder="(PW를 확인해주세요)" id="pw-register-check">
                <dniv class="center-alignment">
                    <span class="valid_font" th:text="${valid_password}"></span>
                </dniv>
            </div>
            <div class=center-alignment>
                <span class="valid_font" th:text="${error}"></span>
            </div>
            <button class="btn btn-success save-button" id="login-id-submit" onclick="loginButton()">확인</button>
        </form>

    </div>
</div>
</body>
</html>